* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(196, 226, 238);
    margin-top: 50px;
    margin-bottom: 50px;
}

hr.dot {
    border-top: 10px dotted rgb(238, 183, 3);
}

table, th, td {
    border-collapse: collapse;
}

.link-button {
    margin-top: 30px;
    text-align: center;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }